/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**** END CSS RESET: UNIQUE STYLING BEGINS HERE ****/

/******** GENERAL PAGE SETUP ********/
:root {
    --main-background-color: #eceef1;
    --utility-accent-color: #0077c5;
    --heading-text-color: #393a3d;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Montserrat", sans-serif;
}

a {
    color: var(--utility-accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    height: 100vh;
    width: 100vw;
}

.page-container {
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "aside"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 60px 5fr 1fr 60px;
    min-height: 100%;
    width: 100%;
}

/******** HEADER ********/
.header {
    align-items: center;
    background: var(--main-background-color);
    border: 1px solid mistyrose;
    display: flex;
    grid-area: header;
    height: 100%;
    justify-items: center;
    justify-content: center;
    padding: 5px 20px;
    width: 100%;
}

.login-details {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: 20px;
}

.login-details > * {
    font-size: 12px;
}

.sign-in-button {
    background-color: var(--utility-accent-color);
    border: 1px solid #4c4c4c;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: grid;
    font-size: 13.5px;
    grid-template-columns: 1fr;
    place-items: center;
    padding: 5px 20px;
}

.signin-styling {
    display: flex;
    align-items: center;
}

.signin-reminder {
    color: #505050;
}

.signin-styling > img {
    margin-right: 6px;
}

/******** MAIN: FORM CONTAINER ********/
.main {
    background: var(--main-background-color);
    border: 1px solid mistyrose;
    grid-area: main;
    height: 100%;
    width: 100%;
}

/******** ASIDE: LEGAL AND PRIVACY INFO ********/
.legal-privacy-info {
    border: 1px solid mistyrose;
    grid-area: aside;
    height: 100%;
    width: 100%;
}

/******** FOOTER ********/
.footer {
    border: 1px solid mistyrose;
    grid-area: footer;
    height: 100%;
    width: 100%;
}
