/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**** END CSS RESET: UNIQUE STYLING BEGINS HERE ****/

/******** GENERAL PAGE SETUP ********/
:root {
    --main-background-color: #eceef1;
    --utility-accent-color: #0077c5;
    --heading-text-color: #393a3d;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Montserrat", sans-serif;
}

a {
    color: var(--utility-accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    height: 100vh;
    width: 100vw;
}

.page-container {
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "aside"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 60px 5fr 1fr 60px;
    min-height: 100%;
    width: 100%;
}

/******** HEADER ********/
.header {
    align-items: center;
    background: var(--main-background-color);
    display: flex;
    grid-area: header;
    height: 100%;
    justify-items: center;
    justify-content: center;
    padding: 5px 20px;
    width: 100%;
}

.login-details {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: 20px;
}

.login-details > * {
    font-size: 12px;
}

.button {
    background-color: var(--utility-accent-color);
    border: 1px solid #4c4c4c;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.sign-in-button {
    font-size: 13.5px;
    padding: 5px 20px;
}

.signin-styling,
.create-account-container {
    display: flex;
    align-items: center;
}

.signin-reminder {
    color: #505050;
}

.signin-styling > img {
    margin-right: 6px;
}

/******** MAIN: FORM CONTAINER ********/


.main {
    background: var(--main-background-color);
    display: grid;
    grid-area: main;
    grid-template-areas:
        "header-logos"
        "form";
    height: 100%;
    place-items: center;
    width: 100%;
}

/**** Header - Logos ****/
.logos {
    display: grid;
    gap: 20px;
    grid-template-areas: 
        "intuit-logo"
        "other-logos";
    place-items: center;
    margin-bottom: 20px;
}

.intuit-sprite {
	background: url('assets/logos.png') no-repeat 0 0;
    grid-area: intuit-logo;
	width: 115px;
	height: 34px;
}

.logo-container {
    display: grid;
    gap: 10px;
    grid-area: other-logos;
    grid-template-areas:
        "mint-sprite  quickbooks-sprite  turbotax-sprite";
}

.mint-sprite {
    background: url('assets/logos.png') no-repeat -254px -57px;
	width: 64px;
	height: 22px;
}

.quickbooks-sprite {
    background: url('assets/logos.png') no-repeat -115px -57px;
	width: 125px;
	height: 22px;
}

.turbotax-sprite {
    background: url('assets/logos.png') no-repeat 0 -57px;
	width: 101px;
	height: 22px;
}
/**** Signup Form ****/
.signup-form {
    background: #fff;
    border: 1px solid #c7c7c7;
    display: grid;
    grid-area: form;
    grid-template-areas: 
        "form-header"
        "form-user-details"
        "form-create-account"
        "form-recaptcha";
    grid-template-columns: 1fr;
    width: 380px;
}

.signup-form > * {
    align-items: stretch;
    display: flex;
    flex-direction: column;
}
/* Form Header */
.form-header {
    text-align: center;
    margin: 30px;
}

.form-heading {
    color: var(--heading-text-color);
    font-size: 24px;
}

.form-user-details,
.form-create-account {
    margin: 0 20px;
}

.form-description {
    color: var(--heading-text-color);
    font-size: 13px;
    font-weight: 200;
    margin-top: 20px;
}

/* Form Body */
.form-label {
    color: #404040;
    font-size: 14px;
    padding-bottom: 6px;
    margin-bottom: 8px;
}

.form-input {
    border: 1px solid #c1c5c8;
    border-radius: 3px;
    font-size: 16.8px;
    height: 34px;
    margin-bottom: 34px;
    min-width: 160px;
    padding: 5px 10px;
}

.form-label > span {
    font-weight: 100;
}

.phone-rates {
    color: #444;
    font-size: 10px;
    margin-top: -28px;
    margin-bottom: 34px;
}

.password-container {
    border: 1px solid #c1c5c8;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr max-content;
    height: 34px;
    margin-bottom: 34px;
    padding: 5px 10px;
    place-items: center;
}

.password-container > input {
    border: none;
    height: 92.5%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.signup-button {
    border: none;
    height: 44px;
}

.terms-of-service {
    color: #757575;
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
    text-align: center;
    margin: 20px 0;
}

/* Form Footer */
.form-recaptcha {
    background: var(--main-background-color);
    color: #757575;
    font-size: 10px;
    display: grid;
    padding: 20px 30px;
    place-items: center;
}



/******** ASIDE: LEGAL AND PRIVACY INFO ********/
.legal-privacy-info {
    border: 1px solid mistyrose;
    grid-area: aside;
    height: 100%;
    width: 100%;
}

/******** FOOTER ********/
.footer {
    border: 1px solid mistyrose;
    grid-area: footer;
    height: 100%;
    width: 100%;
}
